@import './../base/colors';

.login-body {
  display: flex;
  flex-direction: column;
}

.login-header {
  background-color: $white;
  width: 100vw;
  height: 7.6rem;
  position: sticky;
}

.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  padding: 4rem 8.6rem;
  display: flex;
  align-items: center;
}

.input-login {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  display: flex;
}

.recovery-password {
  font-size: 1.4rem;
  align-self: end;
  color: map-get($map: $primary, $key: '100');
  text-decoration: none;
}

.signup {
  text-decoration: none;
  color: map-get($map: $black, $key: '30');

  &-text {
    color: inherit;
  }
  & a {
    color: map-get($map: $primary, $key: '100');
  }
}
