.badge {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0.2rem 1.5rem;

  // TODO: confirm font-size;
  font-size: 12px;
  line-height: 15px;

  &-success {
    background: rgba(50, 147, 111, 0.12);
    color: $success;
  }
  &-warning {
    background: rgba(50, 147, 111, 0.12);
    color: $warning;
  }
  &-danger {
    background: rgba(245, 126, 119, 0.12);
    color: $warning;
  }
}
