.order {
  @include flex-center-column;
  gap: 2rem;
  flex-grow: 1;
  max-height: 65rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__list {
    overflow: hidden;
    overflow-y: auto;
    align-self: normal;

    @include flex-column;
    padding: 1rem 0;
    gap: 1.5rem;

    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid #f1f3f9;
        padding-bottom: 1rem;
      }

      display: flex;
      justify-content: space-between;

      &__product {
        @include flex-center-vert;
        justify-content: space-between;
        gap: 1rem;

        &-details {
          @include flex-column;
          justify-content: space-between;
          gap: 1rem;
        }
      }
    }
  }
}

.product-details {
  &__title {
    color: map-get($map: $black, $key: '60');
  }
  &__date {
    color: map-get($map: $black, $key: '20');
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: right;
  }
  &__price {
    color: map-get($map: $black, $key: '80');
    font-weight: 500;
  }
  &__badge {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: right;
  }
}

.no-order-icon {
  @include flex-center;

  padding: 7rem;
  margin-bottom: 3rem;

  font-family: var(--font-secondary);
  border-radius: 50%;
  background-color: $main-background;
  border: 1px solid $gray;
  width: 12rem;
  height: 12rem;
}
