// ASIDE MENU
.aside {
  padding: 3.1rem;
  background-color: #fff;
  height: 100vh;
  width: 296px;
  @include flex-column;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    & {
      display: none;
    }
  }

  &-header__logo {
    @include flex-center-vert;

    &-text {
      font-family: var(--font-secondary);
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      color: map-get($map: $black, $key: '60');
      margin-left: 1rem;
    }
  }
}

.menu__extra {
  @include flex-column;
  gap: 1rem;
}

.menu__extra-free-gift {
  @include flex-column;
  align-items: flex-start;
  justify-content: space-around;
}
.extra-free {
  @include flex-center-vert;
  gap: 1rem;
}

.logout {
  margin-left: -1rem; // padding is 2rem so middle it's 1rem
  color: $warning;
  display: flex;
  gap: 2rem;
}

.span-free {
  display: flex;
  align-content: center;
  gap: 1rem;

  font-size: 1.2rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: map-get($map: $black, $key: '40');

  & > img {
    align-self: center;
  }
}

.aside-footer {
  width: 100%;
}
