header {
  width: calc(100% - (296px / 100 * 100)); // 100% less the menu

  @include font-face(500, var(--font-secondary));
  @include font-size(20, 30);
  @include flex-center-vert;

  background-color: $white;
  color: map-get($map: $black, $key: '60');

  z-index: 1000;
  justify-content: space-between;

  padding: 1.4rem 2.1rem 1.4rem 2.1rem;
  height: 6rem;
  position: fixed;
  top: 0;
  bottom: 0;

  & > .btn-mobile-nav {
    display: none;
  }
  @media screen and (max-width: 768px) {
    & {
      width: 100%;

      &__checkbox {
        display: none;
      }

      & span {
        margin-right: auto;
        margin-left: 1rem;
      }

      & .btn-mobile-nav {
        cursor: pointer;
        fill: inherit;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.3s;

        &:hover {
          scale: 1.1;
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}

.member__area {
  @include flex-center-vert;
  justify-content: space-between;
  gap: 2rem;

  &-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
