header {
  background-color: $white;

  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;

  color: map-get($map: $black, $key: '60');

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - (296px / 100 * 100)); // 100% less the menu

  padding: 1.4rem 2.1rem 1.4rem 2.1rem;
  height: 6rem;
  position: fixed;
  top: 0;
  bottom: 0;
}

.member__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  &-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}
