.nav {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @include flex-column;
  // align-items: flex-start;

  // padding: 1.6rem 2rem;
  // gap: 10px;
  width: 23.3rem;
  height: 56rem;
  // margin-bottom: auto;

  margin-bottom: 2rem;
  margin-top: 3rem;
  overflow: hidden;
  overflow-y: auto;
  display: block;

  &__item {
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      & > span {
        display: none;
      }
    }
    @include flex-center-vert;
    height: 5.6rem;
    gap: 1rem;
    border-radius: 12px;
    text-decoration: none;
    color: map-get($map: $black, $key: '50');

    transition: background-color 0.2s;
    &:visited {
    }

    &:not(.nav__item-active):hover {
      background: rgba(84, 111, 242, 0.7);
      color: $white;
    }

    &:active {
      background: map-get($map: $primary, $key: '100');
      color: $white;
    }

    &-image {
      margin-left: 2rem;
    }

    // TODO: pass to badge.scss as round
    &-badge {
      @include flex-center;

      color: map-get($map: $black, $key: '100');
      background-color: map-get($map: $secondary, $key: '100');
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;

      @include font-size(12);
      padding: 0.2rem;
    }

    &-active {
      background: map-get($map: $primary, $key: '100');
      color: $white;
    }
    // 100% -225 flex grow;
  }
}
