.nav {
  @include flex-column;
  align-items: flex-start;

  // padding: 1.6rem 2rem;
  gap: 10px;
  width: 23.3rem;
  height: 56rem;
  margin-bottom: auto;

  overflow: hidden;
  margin-top: 3rem;
  display: block;

  &__item {
    height: 5.6rem;
    @include flex-center-vert;
    gap: 1rem;
    // padding: 1.6rem 2rem 1.6rem 2rem;

    border-radius: 12px;
    text-decoration: none;
    font-size: 1.4rem;
    color: map-get($map: $black, $key: '50');

    &:link,
    :visited {
      transition: background-color 0.4s;
    }

    &:hover {
      background: rgba(84, 111, 242, 0.5);

      color: $white;
    }

    &:active {
      background: map-get($map: $primary, $key: '100');
      color: $white;
    }

    &-image {
      margin-left: 2rem;
    }

    // TODO: pass to badg.scss as round
    &-badge {
      @include flex-center;

      color: map-get($map: $black, $key: '100');
      background-color: map-get($map: $secondary, $key: '100');
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      font-size: 1.2rem;
      padding: 0.2rem;
    }

    &-active {
      background: map-get($map: $primary, $key: '100');
      color: $white;
    }
    // 100% -225 flex grow;
  }
}
