@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* change the box and paddings */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
}

.bg-primary-10 {
  background-color: #dbdeee;
}

.text-primary-10 {
  color: #dbdeee;
}

.bg-primary-20 {
  background-color: #c4cae8;
}

.text-primary-20 {
  color: #c4cae8;
}

.bg-primary-30 {
  background-color: #b6bfe8;
}

.text-primary-30 {
  color: #b6bfe8;
}

.bg-primary-40 {
  background-color: #abb5e9;
}

.text-primary-40 {
  color: #abb5e9;
}

.bg-primary-50 {
  background-color: #97a5eb;
}

.text-primary-50 {
  color: #97a5eb;
}

.bg-primary-60 {
  background-color: #8899e9;
}

.text-primary-60 {
  color: #8899e9;
}

.bg-primary-70 {
  background-color: #7c8fec;
}

.text-primary-70 {
  color: #7c8fec;
}

.bg-primary-80 {
  background-color: #6d83ec;
}

.text-primary-80 {
  color: #6d83ec;
}

.bg-primary-90 {
  background-color: #6078ec;
}

.text-primary-90 {
  color: #6078ec;
}

.bg-primary-100 {
  background-color: #5570f1;
}

.text-primary-100 {
  color: #5570f1;
}

.bg-secondary-10 {
  background-color: #fef9f2;
}

.text-secondary-10 {
  color: #fef9f2;
}

.bg-secondary-20 {
  background-color: #fef5ea;
}

.text-secondary-20 {
  color: #fef5ea;
}

.bg-secondary-30 {
  background-color: #fff2e2;
}

.text-secondary-30 {
  color: #fff2e2;
}

.bg-secondary-40 {
  background-color: #fff0de;
}

.text-secondary-40 {
  color: #fff0de;
}

.bg-secondary-50 {
  background-color: #ffead1;
}

.text-secondary-50 {
  color: #ffead1;
}

.bg-secondary-60 {
  background-color: #ffe5c8;
}

.text-secondary-60 {
  color: #ffe5c8;
}

.bg-secondary-70 {
  background-color: #ffdfba;
}

.text-secondary-70 {
  color: #ffdfba;
}

.bg-secondary-80 {
  background-color: #ffdaae;
}

.text-secondary-80 {
  color: #ffdaae;
}

.bg-secondary-90 {
  background-color: #ffd29e;
}

.text-secondary-90 {
  color: #ffd29e;
}

.bg-secondary-100 {
  background-color: #ffcc91;
}

.text-secondary-100 {
  color: #ffcc91;
}

.bg-black-10 {
  background-color: #bec0ca;
}

.text-black-10 {
  color: #bec0ca;
}

.bg-black-20 {
  background-color: #a6a8b1;
}

.text-black-20 {
  color: #a6a8b1;
}

.bg-black-30 {
  background-color: #8b8d97;
}

.text-black-30 {
  color: #8b8d97;
}

.bg-black-40 {
  background-color: #6e7079;
}

.text-black-40 {
  color: #6e7079;
}

.bg-black-50 {
  background-color: #53545c;
}

.text-black-50 {
  color: #53545c;
}

.bg-black-60 {
  background-color: #45464e;
}

.text-black-60 {
  color: #45464e;
}

.bg-black-70 {
  background-color: #37393f;
}

.text-black-70 {
  color: #37393f;
}

.bg-black-80 {
  background-color: #33343a;
}

.text-black-80 {
  color: #33343a;
}

.bg-black-90 {
  background-color: #2c2d33;
}

.text-black-90 {
  color: #2c2d33;
}

.bg-black-100 {
  background-color: #1c1d22;
}

.text-black-100 {
  color: #1c1d22;
}

.text-white {
  color: #ffffff;
}
.text-gray {
  color: #e1e2e9;
}
.text-success {
  color: #519c66;
}
.text-warning {
  color: #cc5f5f;
}

.bg-white {
  background-color: #ffffff;
}
.bg-warning {
  background-color: #cc5f5f;
}
.bg-success {
  background-color: #519c66;
}
.bg-gray {
  background-color: #e1e2e9;
}

body {
  font-size: 62.5%;
  font-size: 1.4rem;
  padding: 3rem;
  font-family: "Inter", sans-serif; /* inherit */
  font-weight: 400;
  line-height: 1.7rem;
}

.container {
  background-color: royalblue;
}

main {
  background-color: royalblue;
  height: 100vh;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 32px 0;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;
  justify-content: center;
}

.col-1 {
  width: 8.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-1 .col-1 {
    width: 100%;
  }
}

.col-2 {
  width: 16.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-2 .col-2 {
    width: 100%;
  }
}

.col-3 {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .col-3 .col-3 {
    width: 100%;
  }
}

.col-4 {
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-4 .col-4 {
    width: 100%;
  }
}

.col-5 {
  width: 41.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-5 .col-5 {
    width: 100%;
  }
}

.col-6 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .col-6 .col-6 {
    width: 100%;
  }
}

.col-7 {
  width: 58.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-7 .col-7 {
    width: 100%;
  }
}

.col-8 {
  width: 66.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-8 .col-8 {
    width: 100%;
  }
}

.col-9 {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .col-9 .col-9 {
    width: 100%;
  }
}

.col-10 {
  width: 83.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-10 .col-10 {
    width: 100%;
  }
}

.col-11 {
  width: 91.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-11 .col-11 {
    width: 100%;
  }
}

.col-12 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .col-12 .col-12 {
    width: 100%;
  }
}

aside {
  padding: 3.1rem;
  background-color: #fff;
  height: 100vh;
  width: 296px;
}

.aside-header__logo {
  display: flex;
  align-items: center;
}
.aside-header__logo-text {
  font-size: 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem 2rem;
  gap: 10px;
  width: 23.3rem;
  height: 56rem;
  margin-top: 3rem;
}
.nav__item {
  display: flex;
  align-items: center;
  padding: 16px, 20px, 16px, 20px;
  background: #5570f1;
  border-radius: 12px;
}
.nav__item-text {
  font-size: 1.4rem;
  color: #999;
}
header {
  background-color: burlywood;
}/*# sourceMappingURL=styles.css.map */