@import '../base/colors';
@import '../abstracts/mixins';

:root {
  --font-primary: 'Inter'; /* inherit */
  --font-secondary: 'Poppins'; /* inherit */
}

body {
  // font-size: 62.5%; // 10px per REM
  @include font-size(14, 17);
  @include font-face(400, var(--font-primary));

  // color: $text-black-50;
}

.heading-primary {
  @include font-size(20, 30);
  @include font-face(700);
  color: map-get($map: $black, $key: '60');
}

.heading-tertiary {
  color: map-get($map: $black, $key: '30');
  @include font-size(14, 17);
  @include font-face(400);
}
