.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* Margin auto */
// TODO: neew to review
.margin-right-auto {
  margin-right: auto;
}
.margin-left-auto {
  margin-right: auto;
}
.margin-center-auto {
  margin: 0 auto;
}

// margins
.margin-right--01 {
  margin-right: 0.1rem;
}
.margin-right--1 {
  margin-right: 1rem;
}
.margin-right--2 {
  margin-right: 1rem;
}
